body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#user-list ul {
    list-style-type: none;
    padding: 0;
}

#user-list ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#user-form {
    margin-top: 30px;
}

.text{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

input[type="submit"],
button[type="button"] {
    margin-top: 10px;
}
